body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9e9e9;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  flex-direction: row;
  justify-content: center;
  margin-left: 475px;
  margin-right: 475px;
}

article div {
  margin-top: 3em;
  background-color: white;
}

h1,
h2 {
  text-align: center;
  margin: 0.5em;
}

.img1,
.img2 {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 22em;
  overflow: hidden;
  border: 1px solid grey;
}

.text1 p,
.text2 p {
  padding: 0.1em;
  font-size: 0.7em;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 0.3em;
}

.text1,
.text2 {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 20em;
  overflow: hidden;
  border: 1px solid grey;
  padding: 1em;
}

header {
  background-color: rgb(252, 252, 252);
  display: flex;
}
header img {
  height: 8em;
  width: 20em;
  padding: 1em;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
}
header ul {
  display: flex;
  height: 100%;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
  font-weight: bold;
}

li a {
  color: rgb(19, 19, 19);
  text-decoration: underline rgb(255, 187, 0) 2px;
  text-underline-offset: 5px;
}
