header {
  display: flex;
  background-color: white;
}

header img {
  height: 8em;
  width: 20em;
  padding: 1em;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
}

header ul {
  display: flex;
  height: 100%;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: larger;
}

header li a {
  color: rgb(19, 19, 19);
  text-decoration: underline rgb(255, 187, 0) 2px;
  text-underline-offset: 5px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0000001e;
}

main {
  margin-left: 220px;
  padding: 20px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

article div {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0.5em;
}

.img1,
.img2,
.img3,
.img4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18em;
  overflow: hidden;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img {
  max-width: 100%;
  max-height: 100%;
}

.text1 p,
.text2 p,
.text3 p,
.text4 p {
  padding: 0.1em;
  font-size: 0.7em;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 0.3em;
  max-width: 100%;
  max-height: 100%;
}

.text1,
.text2,
.text3,
.text4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20em;
  overflow: auto;

  padding: 1em;
}

code {
  color: orange;
  font-size: 1.5em;
  font-weight: bold;
}

#table-of-contents {
  position: absolute;
  left: 4;
  top: 250px;
  width: 310px;
  list-style: none;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  padding: 10px;
  border-right: 1px solid gray;
  height: calc(100% / 4);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.402);
}

#table-of-contents ul {
  height: 100%;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  font-weight: bold;
}

.container {
  text-align: center;
}

.container h1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.article {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.article div:nth-child(2) {
  font-size: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.article div {
  height: 30em;
  width: 40%;
}
.article div p {
  max-width: 100%;
  max-height: 100%;
  padding: 2em;
  text-align: justify;
  overflow: auto;
  margin-bottom: 0;
}
.bouton {
  margin: -80px;
}
button {
  background-color: #f7a60e;
  padding: 15px;
  font-size: larger;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 20px;
}

button a {
  text-decoration: none;
  color: #f5f5f5;
}

.formations {
  font-size: 30px;
  font-weight: bold;
}

.article2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.article2 div {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.402);
  background-color: #f5f5f5;
  margin-bottom: 100px;
  margin-top: 50px;
}
.article2 div p {
  font-weight: bold;
  font-size: 40px;
}

footer {
  background-color: white;
  /*width: calc(100% / 3);*/
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.footer p:nth-child(-n + 4) {
  margin: 0;
}

.footer p:nth-child(5) {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

footer div:nth-child(3) a img {
  justify-items: center;
  margin-top: 1.2em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em auto;
}
